// fuente importada de google fonts
// titulo
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
// fuente texto general
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//color principal de la pagina y variante
$color_principal: #efdecc;
$color_principal_oscuro: #c3a896;

//color secundario de la pagina y variante
$color_secundario: #cfa8a7 ;
$color_secundario_oscuro:#b18888;


// fuente de titulo
$fuente_titulo:'Dancing Script', cursive;;
// fuente texto
$fuente_texto:'Roboto', sans-serif;